* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: rgb(15, 5, 48);
    color: white;
    height: 5rem;
    font-size: 50px;
    padding-top: 20px;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(15, 5, 48);
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 80px
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3REM;
    margin-top: 5rem;
}

.score_board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 50px;
    font-size: 2rem;
}

#user_score,
#com_score {
    font-size: 4rem;
}

#msg {
    background-color: rgb(15, 5, 48);
    color: aliceblue;
    font-size: 2rem;
    margin: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
